<%= link_to "Back Home", root_path %>
<h1>The Book Club: Portland Lady Readers</h1>
<p>We are a group of Portland women who meet on the first Saturday of every month to discuss a great book! Occassionally there will be a second book and therefore a second meet time outside of the first Saturday time; this is for those of us who just can't put a book down!</p>