<%= link_to "About Me", about_path %>
<div>
<%= link_to "Knitting", knit_path %>
<div>
<%= link_to "Books", books_path %>
<h1>Heather's App!</h1>
<p>Sign up for a book club event by clicking <a href="#">here</a>.</p>
<p>Check out new events for knitting <%= link_to "here", "#" %>.</p>
